* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(154, 155, 208);
  font-weight: 400;
  background-color: rgb(205, 240, 205);
  padding: 3.2rem;
  border-top: 6rem solid #2bb019;
  padding-bottom: 6rem;
  z-index: -5;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: -5.5rem;
  left: 1rem;
  width: 5rem;
  height: 5rem;
  background-image: url("assets/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

body::after {
  content: "Aphasia Therapy";
  position: absolute;
  top: -5rem;
  left: 6.5rem;
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #333333;
  line-height: 4rem;
  z-index: -1;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8.4rem;
}
